datasets==2.15.0
Pillow==10.0.1
protobuf<4
click<8.1
pydantic
transformers
torch==2.1.1
einops==0.7.0
accelerate==0.24.1
tiktoken==0.5.1
scipy==1.11.3
transformers-stream-generator==0.0.4
peft==0.6.2
deepspeed==0.12.3
bitsandbytes==0.41.2.post2
python-dotenv==1.0.0
openai==1.1.2
gradio==4.1.2
gradio-client==0.7.0
huggingface-hub>=0.19
hf-transfer>=0.1.4
soundfile
